@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Montserrat", sans-serif;
    /* Only works if there is nothing absolutely positioned in relation to body */
    overflow-x: hidden;

    /*** NOT WORKING ON Internet Explorer ***/
    /*** NOT WORKING ON SAFARI < 15.4, Added on 03/2022 ***/
    scroll-behavior: smooth;
  }
  body {
    background-color: rgb(43, 34, 115);
  }
}
